# these have too much experimental checkpointing, dont commit these
# rather move to FinalizedModels, FinalizedLosses
Losses/*
Models/*

ppatil/*
cdeng/*
nbalaji/*

# things that aren't cleaned up yet
Code/cdeng*
Code/ppatil*
Code/eshani*
Code/nisha*

Code/slurm_output
Code/slurm*
Code/memprofiles/*
Code/train.txt
Code/*.npy

Residuals/*
Visualizations/*
Experiments/*

!.gitkeep

__pycache__

Data/*